## Part 1

In [15]:
import pandas as pd
import numpy as np
import requests

In [53]:
html_data = requests.get('https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&direction=prev&oldid=926287641')
wiki_raw = pd.read_html(html_data.content, header = 0)[0]
df = wiki_raw[wiki_raw.Borough != 'Not assigned']
df = df.rename(columns={'Postcode': 'Postal Code'})
df.reset_index(inplace = True)
del df['index']
df.head()

  Postal Code           Borough     Neighbourhood
0         M3A        North York         Parkwoods
1         M4A        North York  Victoria Village
2         M5A  Downtown Toronto      Harbourfront
3         M5A  Downtown Toronto       Regent Park
4         M6A        North York  Lawrence Heights

## Part-2

In [39]:
df_geo = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/labs_v1/Geospatial_Coordinates.csv')
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [41]:
df.dtypes

Postcode         object
Borough          object
Neighbourhood    object
dtype: object

In [54]:
df = df.join(df_geo.set_index('Postal Code'), on='Postal Code')
df.head()

  Postal Code           Borough     Neighbourhood   Latitude  Longitude
0         M3A        North York         Parkwoods  43.753259 -79.329656
1         M4A        North York  Victoria Village  43.725882 -79.315572
2         M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
3         M5A  Downtown Toronto       Regent Park  43.654260 -79.360636
4         M6A        North York  Lawrence Heights  43.718518 -79.464763

In [55]:
df.shape

(211, 5)